<h3>Frequently Asked Questions</h3>
<h4>Ranks</h4>
<ul>
  <li>Trialist</li>
  <li>Trial Raider</li>
  <li>Friend</li>
  <li>Member</li>
  <li>Raider</li>
  <li>Officer</li>
</ul>

<h4>Promotions</h4>
<p>Promotions are based on guild activities such as participating in guild raids or dungeons and positive guild contributions, and generally being memorable in a good way.</p>
<p>Time is <strong>not</strong> a factor, it's about attitude.</p>
<p>Officers are always evaluating members for promotion.</p>

<h4>Pugging Raids</h4>
<p>Pugging current progress raid content is frowned upon. Please ask an officer first.</p>

<h4>Raid Loot</h4>
<!-- it's not about the loot -->
<p>We use Guild Master Loot in current raid content.</p>
<p>Mostly it’s Main Spec (MS) > Off Spec (OS) with a few things taken into account to share loot most fairly:</p> 
<ul>
  <li>Already received loot</li>
  <li>Needing the baseline token loot>warforged token loot>titanforged token loot</li>
  <li>Gaining 2 set or 4 set</li>
</ul>

<h4>Mythic Raiding</h4>
<p>We do not have plans for mythic raiding, maintaining a 20 man team is more exclusive than we want OoM to be. However this doesn’t mean that you are banned from organising it yourself.</p>

<h4>Alts</h4>
<p>Alts are welcome to join Out of Mana, just ask for an invite on them. </p>
<p>We don't necessarily want people to be devoted to a class / spec, but we do want them to be dedicated to a role, especially when it comes to those who want to try out healing. And if you want to learn a new role perhaps using your own initiative for alt raids or something like that would be appreciated - officers shouldn't be responsible for setting up events to help people learn something.</p>

<h4>Discord</h4>
<p>Feel free to join in! We use it as an extension of guild chat, with some more specialist channels. Don’t worry if you think it might be the wrong channel to post something, the channel names are more of a guide than a rule.</p>

<h4>Taking a Break?</h4>
<p>Please inform an officer if you're going to be away for longer than a month, to avoid being kicked.</p>