<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a routerLink="/about"  class="navbar-brand">Out of Mana</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a routerLink="/about" class="nav-item nav-link" routerLinkActive="active">About</a>
          <a routerLink="/members" class="nav-item nav-link" routerLinkActive="active">Members</a>
          <a routerLink="/rules" class="nav-item nav-link" routerLinkActive="active">Rules</a>
          <a routerLink="/faq" class="nav-item nav-link" routerLinkActive="active">FAQ</a>
          <a routerLink="/join" class="nav-item nav-link" routerLinkActive="active">Join</a>
          <a routerLink="/applications" class="nav-item nav-link" routerLinkActive="active">Applications</a>
        </div>
      </div>
    </nav>
</div>