
<div class="overlay">
  <div class="oom-scroll">
      <div class="oom-scroll-top">
        <div class="scroll-end scroll-end-left"></div>
        <div class="scroll-end scroll-end-right"></div>
        <div class="oom-logo wax"></div>
      </div>
      <div class="oom-scroll-body">
        <div class="oom-scroll-left"></div>
        <h3>Hi, we’re Out of Mana.</h3>

        <p>We’re a Horde casual raiding guild on Emerald Dream-Terenas. We’ve been around since The Burning Crusade so we’re pretty well established here. We’re a mix of dungeon enthusiasts, achievement hunters, mount hoarders, amateur pvpers, reputation farmers and reliable raiders. We raid twice a week in a relaxed but progression-focussed environment and we’ve got plenty of social members too. Outside of raid times, you’ll find us pushing mythic+ dungeons, doing transmog runs, going for glory in 3v3 arenas and helping each other out with quests.</p>
        
        <p>
          Our raid times are:<br>
          Wednesdays 19.30 - 22.00<br>
          Sundays 19.30 - 22.00<br>
          All times are server time so check your time zone!
        </p>
     
        <div class="about-image"></div>
        
        <p>We’re not an elitist group and we don’t have a fixed raid composition - all are welcome so long as you’re keen, willing to commit and improve, and aren’t put off by a wipe or two. While high item levels and every Curve possible are great to have, we’re open to new raiders and are more interested in enthusiasm and commitment.</p>
        
        <p>If you’re interested in joining Out of Mana, either as a raider or a social member, please take a look at our rules and FAQs then fill in an application.</p>
        
        <p>All classes and specs are welcome, but we are currently particularly looking for ranged and melee dps. Tank and healer off-specs are also desirable.</p>
        
        <div class="oom-scroll-right"></div>
      </div>
      <div class="oom-scroll-bottom">
        <div class="scroll-end scroll-end-left"></div>
        <div class="scroll-end scroll-end-right"></div>
      </div>
    </div>
</div>
