<h3>Rules</h3>
<ul>
  <li>Don't be a dick.</li>
  <li>Swearing is strongly discouraged.</li>
  <li>No hate comments/jokes of any kind.</li>
  <li>Don't beg or insult other players, in or out of Out of Mana.</li>
  <li>Don't fight or "Anal-Spam" in trade chat.</li>
</ul>

<h4>Guidlines</h4>
<h5>General</h5>
<ul>
  <li>Please inform an officer if you're going to be away for longer than a month, to avoid being kicked.</li>
  <li>Asking for boosts is discouraged.</li>
</ul>

<h5>Guild Chat</h5>
<ul>
  <li>Say "Hi" and "Bye" when logging.</li>
  <li>Announce when going AFK.</li>
  <li>No shouting (exsessive use of caps lock).</li>
  <li>No spamming for help, if someone can help they will.</li>
  <li>Guild chat is not trade chat. WTS [Item] is banned.</li>
  <li>Please reply to questions, "no thanks" is a lot nicer than feeling ignored.</li>
</ul>

<h5>Activities</h5>
<ul>
  <li>Try to participate in guild activities.</li>
  <li>Before queuing for anything it's nice to announce in guild chat if anyone wants to join.</li>
</ul>

<h5>Raiding</h5>
<ul>
  <li>Pugging current raid content is frowned upon. Please ask an officer first.</li>
</ul>

<h5>Conflicts</h5>
<ul>
  <li>Attempt to resolve conflict amicably in private chat with the other party before escalating to an officer.</li>
  <li>Don't bring conflict into guild chat.</li>
</ul>

<h5>Social</h5>
<ul>
  <li>Call players by their name not their class.</li>
  <li>No elitist comments, constructive comments are encouraged.</li>
</ul>

