<h3>Rules</h3>
<ul>
  <li>No swearing</li>
  <li>No hate comments</li>
  <li>Don't beg or insult others</li>
  <li>Don't fight or spam in chat</li>
  <li>Don't ask for boosts</li>
</ul>

<h3>Guidelines</h3>
<h4>Guild Chat</h4>
<ul>
  <li>Say "Hi" and "Bye" when logging</li>
  <li>Announce when going AFK</li>
  <li>No shouting (excessive use of caps lock)</li>
  <li>No spamming for help; if someone can help they will</li>
  <li>Guild chat is not trade chat. WTS [Item] is banned</li>
  <li>Offering rare items to guild members instead of selling is encouraged</li>
  <li>Please reply to questions; "no thanks" is a lot nicer than feeling ignored</li>
</ul>

<h4>Activities</h4>
<ul>
  <li>Try to participate in guild activities</li>
  <li>You can create events on the calendar so long as it is not at guild raid time</li>
  <li>Before queuing for anything it's nice to announce in guild chat to see if anyone wants to join</li>
</ul>

<!-- <h4>Raiding</h4>
<ul>
  <li>Pugging current progress raid content is frowned upon, ask an officer first</li>
</ul> -->

<h4>Conflicts</h4>
<ul>
  <li>Attempt to resolve conflict amicably in private chat with the other party before escalating to an officer</li>
  <li>Don't bring conflict into guild chat</li>
</ul>

<h4>Social</h4>
<ul>
  <li>Call players by their name not their class</li>
  <li>No elitist comments but helpful, constructive comments are encouraged</li>
</ul>

<h4>Discord</h4>
<ul>
  <li>Use the same nickname as you're known in the guild</li>
  <li>Use the raid night channel to let us know if you're going to be late if you can't access the in game calendar</li>
  <li>We require push to talk for most of our voice channels</li>
</ul>
