<div class="row">
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-12">
          <h4 class="m-0">About Us</h4>
      </div>
    </div>
      
      <div class="row mb-2">
        <div class="col-sm-12">
            <small>EU Emerald Dream / Terenas <br>
              Horde
            </small>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-12">
            <p>Out of Mana is a well established social raiding guild, It doesn't matter if you want to raid or just hang out there's a place for you with us.</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-12">
            <h5>Raid Schedule</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">Wednessday</div>
        <div class="col-sm-9">1930 - 2200 realm time</div>
      </div>

      <div class="row">
        <div class="col-sm-2">Sunday</div>
        <div class="col-sm-9">1930 - 2200 realm time</div>
      </div>

      <div class="row mt-2">
        <div class="col-sm-12">
            <h5>Raid Mentality</h5>
            <p>We try to be inclusive in our raids. It’s ok to fail, so long as you learn from it. We look for improvement and dedication above anything else.</p>
        </div>
      </div>
  </div>
  <div class="col-sm-3">
      <a href="https://wowprogress.com/" class="float-right" target="_blank"><img alt="WoW Guild Rankings" src="https://wowprogress.com/guild_img/354185/out/type.site" border="0"/></a>
  </div>
</div>