<!-- <div class="parallax-container">
    <div class="parallax"><img src="assets/img/suramar.jpg"></div>
  </div> -->
  <div class="section teal lighten-3">
      <div class="container white">
          <form class="col s12">
            <div class="row p-2">
              <div class="input-field col s6">
                <input [(ngModel)]="email" id="email" type="text" class="validate" [ngModelOptions]="{standalone:
                  true}">
                <label for="email">Email</label>
              </div>
              <div class="input-field col s6">
                <input [(ngModel)]="password" id="password" type="password" class="validate" [ngModelOptions]="{standalone:
                  true}">
                <label for="password">Password</label>
              </div>
            </div>

            <div class="row right-align p-2">


              <div class="col s12">
                  <div class="btn " (click)="login()">
                      Login
                  </div>
                  
                <!-- <p>
                    <button (click)="login()" class="btn waves-effect waves-light" type="submit" name="action">Login</button>
                </p> -->
              </div>
            </div>
          </form>
      </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="assets/img/suramar.jpg"></div>
  </div>
  <!-- <div class="section deep-purple darken-3"> -->
<!-- 


<div class="form">
    <div class="form-group row">
        <label for="location" class="col-sm-2 col-form-label">
          Email
        </label>
        <div class="col-sm-10">
          <input [(ngModel)]="email" placeholder ="thrall@horde.com" id="location" class="form-control" type="text">
        </div>
      </div>

      <div class="form-group row">
          <label for="location" class="col-sm-2 col-form-label">
            Password
          </label>
          <div class="col-sm-10">
            <input [(ngModel)]="password" id="passow" class="form-control" type="password">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
              <div class="btn btn-primary" (click)="login()">Login</div>
          </div>
        </div>
</div> -->