.logo {
  /* background-image: url('/assets/logos/oom-logo.png');
  background-size: 100%; */
  width: 20%;
  /* height: 50%; */
  position: absolute;
  top: 0;
  right: -8%;
}

.banner {
  background-color: #7f4628;
  position: relative;
  /* position: relative;
  width: 100%;
  border: 0.10em solid #7f4628;
  box-sizing: border-box; */
}

.banner img {
  width: 100%;
}

.title {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: white;
  text-shadow: 2px 2px 8px black;
  bottom: 1%;
  left: 2.5%;
}