<h3>Join Out of Mana</h3>
<p>Please read our <a routerLink="/rules">rules</a> before applying.</p>

<h4>About You</h4>
Nickname<br>
Age (optional)<br>
Location (optional)<br>
Gender(optional)<br>
Referal Code<br>
How did you hear about us?<br>

Why do you wish to join Out of Mana?<br>
What to you bring to the table?<br>
Do you have questions for us?<br>

<h4>Character Details</h4>
Name<br>
Realm<br>
Class<br>
Spec<br>
Armoury Link<br>

Previous Guild History including reasons for leaving<br>

<h4>Raid History</h4>
<p>Don't worry we accept new raiders too.</p>

Legion
                      LFR  Normal Heroic Mythic
Emerald Nightmare
Trial of Valor
Nighthold
Tomb of Sargeras
Antorus, The Burning Throne

Do you accept our rules? 
<div class="btn btn-primary">Join</div>