
  <!-- Modal Trigger -->
<!-- Modal Trigger -->

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <!-- <h4>Modal Header</h4> -->
      <app-rules></app-rules>
    </div>
    <div class="modal-footer">
      <div class="modal-close btn-flat waves-green eave-effect">OK</div>
      <!-- <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a> -->
    </div>
  </div>

  <div id="armory-help-model" class="modal">
      <div class="modal-content">
      <h4>Armory Help</h4>
      <app-armory-help></app-armory-help>
      </div>
      <div class="modal-footer">
          <div class="modal-close btn-flat blue-text waves-green eave-effect">Close</div>
        <!-- <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a> -->
      </div>
    </div>

  <div id="join-prompt" class="modal">
      <div class="modal-content">
        <h4>GDPR Notice</h4>
        <p>Your application along with all information provided will be visible to all members of the guild.</p>
        <p>By Agreeing, you are allowing Out of Mana to store personal data related to you.</p>
        <p>Out of Mana will not use your data for marketing, send to third parties or contact you without your concent.</p>
        <p>Out of Mana requries this information for guild management.</p>
        <p>You have the right to ask for all data Out of Mana has on you.</p>
        <p>Out of Mana will at any time delete all personal data on you at anytime you request.</p>
        
        <p>Unfortunately if you disagree to this you cannot join Out of Mana.</p>
        <!-- <app-rules></app-rules> -->
      </div>
      <div class="modal-footer">
          <div class="modal-close btn-flat blue-text waves-green eave-effect">DISAGREE</div>
        <div (click)="apply()" class="modal-close blue-text btn-flat waves-green eave-effect">AGREE</div>
        <!-- <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a> -->
      </div>
    </div>
<!-- Button trigger modal -->
  <!-- Modal -->
<!-- Modal -->
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <app-rules></app-rules>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->

  <div *ngIf="applying; else elseBlock">
    Applying one moment.
  </div>
  <ng-template #elseBlock>
    
    <!-- <button data-target="modal1" class="btn modal-trigger">Modal</button> -->
<!-- <p>Please read our <span class=" oom-btn   oom-link modal-trigger" data-target="modal1">rules</span> before applying.</p> -->


<div class="section">
    <div class="container">
<div class="form oom-form">
  <div class="row">
    <div class="col s12">
        <h3>Join Out of Mana</h3>

        <p>Thinking of joining us?<br>
          Great, we'd love to have you!<br>
          We need to know a little about you first.
        </p>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col s12">
        <h4>About You</h4>
    </div>
  </div> -->

  <!-- <div class="row">
    <div class="col-sm-10">
        Social <span class="mx-2" (click)="toggleRaider()">
          <span [class.hidden]="!user.raider"><i class="fas fa-toggle-on" ></i></span>
          <span [class.hidden]="user.raider"><i class="fas fa-toggle-off"></i></span>
        </span>  Raider
    </div>
  </div> -->

    <div class="row">
        <div class="input-field col s12">
            <input [(ngModel)]="user.username"  id="nickname" type="text" (ngModelChange)="modelChange($event)">
            <label for="nickname">Username</label>
            <span class="helper-text">Used to identify you accross all your characters.</span>
          </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <input [(ngModel)]="referralCode" id="referralCode" type="text" (ngModelChange)="modelChange($event)" >
            <label for="referralCode">Referal Code</label>
            <span class="helper-text">Did someone in OoM refer you?</span>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12" *ngIf="!referralCode">
            <input [(ngModel)]="howFound" id="howFound" type="text" (ngModelChange)="modelChange($event)"  >
            <label for="howFound">How did you hear about us?</label>
            <span class="helper-text">Friend, Guild Finder</span>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <textarea [(ngModel)]="aboutYou" (ngModelChange)="modelChange($event)"  id="aboutYou" class="materialize-textarea"></textarea>
            <label for="aboutYou">Tell us a little about you.</label>
            <span class="helper-text">Be honest.</span>
          </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
          <textarea [(ngModel)]="reasonForJoining" (ngModelChange)="modelChange($event)"  id="reasonForJoining" class="materialize-textarea"></textarea>
          <label for="reasonForJoining">Why do you want to join OoM?</label>
          <!-- <span class="helper-text">Be honest.</span> -->
        </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
          <textarea [(ngModel)]="valueToOOM" (ngModelChange)="modelChange($event)"  id="whatYouBring" class="materialize-textarea"></textarea>
          <label for="whatYouBring">What to you bring to OoM?</label>
          <!-- <span class="helper-text">Be honest.</span> -->
        </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
          <textarea [(ngModel)]="applicantQuestions" (ngModelChange)="modelChange($event)"  id="applicantQuestions" class="materialize-textarea"></textarea>
          <label for="applicantQuestions">Questions for Us?</label>
          <!-- <span class="helper-text">Be honest.</span> -->
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <textarea [(ngModel)]="guildHistory" (ngModelChange)="modelChange($event)"  id="guildHistory" class="materialize-textarea"></textarea>
            <label for="guildHistory">Guild History inlcuding reasons for leaving</label>
            <!-- <span class="helper-text">Be honest.</span> -->
          </div>
      </div>

      <div class="row">
        <div class="col s12">
          <p>Please provide an armory link to the character you are joining OoM with.<br>
          Need help finding your armory link? <span class=" oom-btn oom-link modal-trigger" data-target="armory-help-model">click here</span>.</p>
          
          
          <div class="input-field">
              <input [(ngModel)]="armouryLink" id="armouryLink" type="text" (ngModelChange)="modelChange($event)">
              <label for="armouryLink">Armory Link</label>
              <span class="helper-text">https://worldofwarcraft.com/en-gb/character/[REALM]/[CHARACTER_NAME]</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 center-align">
          <p>By clicking "Join OoM" you agree to follow our <span class=" oom-btn oom-link modal-trigger" data-target="modal1">rules</span>.</p>
          <!-- <p>Do you accept our <span class=" oom-btn oom-link modal-trigger" data-target="modal1">rules</span>?<br></p> -->

          <div [ngClass]="{'disabled': disableForm}" class="oom-btn btn modal-trigger blue" data-target='join-prompt'>Join OoM</div>   
        </div>
      </div>

        <!-- <h4>Character Details</h4> -->
        <!-- <div class="row">
            <div class="col-sm-10">
                Emerald Dream <span class="mx-2" (click)="toggleRealm()"><span [class.hidden]="!emeraldDream"><i class="fas fa-toggle-on" ></i></span><span [class.hidden]="emeraldDream"><i class="fas fa-toggle-off"></i></span></span>  Teranes
            </div>
          </div> -->

          <!-- <div class="row">
              <div class="col-sm-10">
                  Emerald Dream <span class="mx-2" (click)="toggleRealm()">
                    <span [class.hidden]="emeraldDream"><i class="fas fa-toggle-on" ></i></span>
                    <span [class.hidden]="!emeraldDream"><i class="fas fa-toggle-off"></i></span>
                  </span>  Teranes
              </div>
            </div> -->
        <!-- <div class="form-group row">
    <label for="characterName" class="col-sm-2 col-form-label">Name:</label>
    <div class="col-sm-10">
      <input [(ngModel)]="character.name" placeholder ="e.g. Peon" id="characterName" class="form-control" type="text">
    </div>
  </div> -->

  <!-- <div class="row klass-container mb-2">
    <div class="col-sm-6 col-md-4 klass" *ngFor="let characterClass of characterClasses" [ngClass]="{'selected': characterClass.selected}">
      <div class="row">
        <div class="col-sm-12" (click)="clickClass(characterClass)">
            {{characterClass.name}}
        </div>
      </div>
      
      <div class="row spec" *ngFor="let spec of characterClass.specs" [ngClass]="{'hidden': !characterClass.selected, 'selected': spec.selected}">
          <div class="col-sm-12" (click)="clickSpec(spec)">
              {{spec.name}} <span [ngClass]="{'hidden': !spec.selected}"><i class="fas fa-check" ></i></span>
          </div>
        </div>
    </div>
  </div> -->

</div>
</div>
</div>

<!-- <div *ngIf="user.raider">
    <h4>Raid History</h4>
    <p>Don't worry we accept new raiders too.</p>
    
    Legion
                          LFR  Normal Heroic Mythic
    Emerald Nightmare
    Trial of Valor
    Nighthold
    Tomb of Sargeras
    Antorus, The Burning Throne
</div> -->



<!-- <div class="row justify-content-md-center">
    <div class="btn btn-primary" (click)="apply()">Join</div>
</div> -->
  </ng-template>


