<!-- <div class="parallax-container">
    <div class="parallax"><img src="assets/img/suramar.jpg"></div>
  </div> -->
  <div class="section teal lighten-3">
      <div class="container white">
        <div class="row">
          <div class="col s12">
              <h3>New Applications</h3>
              <span *ngFor="let application of newApplications">
                  <a [routerLink]="['/guildapplication', application.id]">{{application.username}} - {{application.type}} ({{application.status}})</a><br>
              </span>
          </div>
        </div>
      </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="assets/img/suramar.jpg"></div>
  </div>
  <!-- <div class="section deep-purple darken-3"> -->
