<!-- <div class="row">
  <div class="col-sm-12">
    <app-member-search></app-member-search>
  </div>
</div> -->
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Class</th>
      <th>Rank</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let member of members">
      <td><a href={{member.armouryLink}} target="_blank">{{member.name}}</a></td>
      <td>
          <app-classicon [classIcon]=member.classIcon></app-classicon>
          {{member.className}}
      </td>
      <td>{{member.rankName}}</td>
    </tr>
  </tbody>
</table>